::-webkit-scrollbar {
  display:none;
}
html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif;
    min-height: 100%;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
  #viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
//   .page{
//     position: relative;
//        @media (min-width:1024px){
//            position: fixed;
//            left: 0;
//            top: 0;
//            width: 100%;
//            height: 100%;
//            z-index: 1;
//    }
// }
.main-scroll{
  min-height: 100vh;
}
.c-scrollbar{
  z-index: 99999;
}
template, /* [1] */
[hidden] {
    display: none;
}

*,
:before,
:after {
    box-sizing: inherit;
}

address {
    font-style: inherit;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

a {
    text-decoration: none;

    svg {
        pointer-events: none;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,
figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/**
 * 1. Single taps should be dispatched immediately on clickable elements
 */
a, area, button, input, label, select, textarea, [tabindex] {
    -ms-touch-action: manipulation; /* [1] */
    touch-action: manipulation;
}

[hreflang] > abbr[title] {
    text-decoration: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCCCCC;
}

pre{
    font-family: inherit;
    white-space: pre-line;
}
html.has-scroll-smooth 
{
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
}
button,
.link__button {
  
    position: relative;
    display: inline-block; /* [1] */
    overflow: visible; /* [2] */
    margin: 0; /* [3] */
    padding: 0;
    outline: 0;
    border: 0;
    text-align: center;
    background: none transparent;
    color: inherit;
    vertical-align: middle; /* [4] */
    text-align: center; /* [3] */
    text-decoration: none;
    text-transform: none;
    font: inherit; /* [5] */
    line-height: normal;
    cursor: pointer; /* [6] */
    user-select: none;
    
}